


.news_container {

    .news_author {
        margin-bottom: 5px;
    }

    .news_image {
        width: 70%;
        height: auto;
    }

    .news_text {
        white-space: pre-line;
        font-size: 18px;
    }
}