.container {
    display: flex;
    gap: 10px;
}


.news_item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
    height: 310px;
    border-bottom: 1px solid grey;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 5px 5px 0 0;

    * {
        width: 100%;
        height: max-content;
    }

    .news_image {
        max-height: 180px;
        object-fit: cover;
    }

    &:hover {
        cursor: pointer;
        border-bottom: 3px solid black;
        background-color: rgb(235, 235, 235);
    }
}
